[submodule "iOS/worldHackBacerlona/worldHackBacerlona/Classes/BLL/Libs/AFNetworking"]
	path = iOS/worldHackBacerlona/worldHackBacerlona/Classes/BLL/Libs/AFNetworking
	url = git@github.com:oriolblanc/AFNetworking.git
